@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background: rgb(90, 165, 255);
  border: 1px solid red;
}
#uppSuit {
  background: black;
  color: white;
}
#btmSuit {
  background: black;
  color: white;
}
